@model List<Tarefa>

<h1>Tarefas Concluídas</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID da Tarefa</th>
            <th>Nome da Tarefa</th>
            <th>Data de início</th>
            <th>Data de finalização</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tarefa in Model)
        {
            <tr>
                <td>@tarefa.TarefaId</td>
                <td>@tarefa.NomeTarefa</td>
                <td>@tarefa.DtCad</td>
                <td>@tarefa.DtCadFim</td>
                <td>Finalizado</td>


            </tr>
        }
    </tbody>
</table>

<a class="btn btn-secondary"asp-action="ToDo">Voltar para Lista de Tarefas</a>
